







<div style="margin-left:1% ;">
<div class="row">
<div class="col-md-2" >
 <p-tree [value]="adminTree" (onNodeSelect)="treeSelectEvent($event)"  [(selection)]="selectedFile" selectionMode="single" class="w-full md:w-30rem" [filter]="true"  filterPlaceholder="Search" ></p-tree>
     
   
</div>

<div class="col-md-10" style="margin-top: 1%;"> 
    <p-card [style]="{'width': '100%'}" *ngIf="activeTask.length>1">
        <app-waiting-user *ngIf="activeTask==='waitingUser'" >
        </app-waiting-user>
    </p-card>
</div>
</div>

</div>
